# Compiled Object files
*.slo
*.lo
*.o
*~
Makefile

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/build/
/4055034.dem/
/SDTSElevation.cc
/data/
/makefile.clean
